<article class="z pbox">
  <div>
    <a href='<%- url_for(post.path) %>' class=z><img loading="lazy" src="<%- url_for(post.thumbnail) %>" alt="<%- post.title %>" /></a>
    <h3><a href='<%- url_for(post.path) %>'><%- post.title %></a></h3>
    <p>
      <% if(post.date){ %>
      <span class=ic-calendar><%= date(post.date, 'MMM D') %></span>
      <% } %>
      <% if(post.author){ %>
      <span class=ic-person><%- post.author %></span>
      <% } %>
    </p>
  </div>
</article>
