<% head_image = ( page.tag ? theme.tags[page.tag] : theme.categories[page.category] ) %>
<div class="head thin" style="background-image:url(<%- url_for(( head_image ? head_image : 'images/head.jpg' )) %>)">
  <div class=title>
    <div class="container">
      <h2><%= (page.tag ? page.tag : page.category) %></h2>
    </div>
  </div>
</div>

<% if (pagination == 2){ %>
  <% page.posts.each(function(post){ %>
    <%- partial('article', {post: post, index: true}) %>
  <% }) %>
<% } else { %>
  <section class="archive"><div class="container">
  <% page.posts.each(function(post, i){ %>
    <%- partial('archive-post', {post: post, even: i % 2 == 0}) %>
  <% }) %>
  <div class=cb></div></div></section>
<% } %>
<% if (page.total > 1){ %>
  <nav class=pg>
    <% var prev_text = "« " + __('prev');var next_text = __('next') + " »"%>
    <%- paginator({
      prev_text: prev_text,
      next_text: next_text
    }) %>
  </nav>
<% } %>
