<%- partial('post/title') %>

<div class="container content">
  <% if (post.excerpt){ %>
    <p><b><%- post.excerpt %></b></p>
  <% } %>

  <%- partial('share_tools', {title: post.title, link: full_url_for(post.path)}) %>

  <p class=author>
    <% if(post.author){ %><b>By <%- post.author %></b><% } %>
    <%- partial('post/date', {class_name: 'article-date', date_format: 'MMMM D, yyyy'}) %>
  </p>

    <%- post.more %>

  <% if(post.tags && post.tags.length){ %>
    <div class=tags>
    <% post.tags.each(function(tag){ %>
      <a href="<%- url_for(tag.path) %>"><%- tag.name %></a>
    <% }) %>
    </div>
  <% } %>

  <div class="cb"></div>
</div>
<div class=hire>
  <div class="container">
    <ul>
      <li><a href='#'><img src="<%- url_for('assets/taxi.svg') %>" /> Car Hire</a></li>
      <li><a href='#'><img src="<%- url_for('assets/bike.svg') %>" /> Rent Bike</a></li>
      <li><a href='#'><img src="<%- url_for('assets/horse.svg') %>" /> Horseback ride</a></li>
      <li><a href='#'><img src="<%- url_for('assets/guide.svg') %>" /> Tour Guide</a></li>
    </ul>
  </div>
</div>

<div class="container content">
  <p>Join more than three million Visit Afghanistan fans by liking us on <a href="<%- theme.facebook %>">Facebook</a>, or follow us on <a href="<%- theme.twitter %>">Twitter</a> and <a href="<%- theme.instagram %>">Instagram</a>.</p>
  <p>If you liked this story, <a href="http://eepurl.com/g6KC8H" class="mo">sign up for the monthly visit-bamyan.com features newsletter</a> called "The Essential List". A handpicked selection of stories from Visit Bamyan Culture, Festivals, Events and visitor stoies, delivered to your inbox every month.</p>
  <p id=sharebtn><b>Share this story with your friends:</b></p>
</div>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>

<%- partial('_widget/routes') %>

<%- partial('_widget/blog') %>
