<header>
	<div class='container'>
		<div class=logo>
			<a href="<%- url_for() %>" aria-label="<%= config.title %>" class="ic-logo"></a>
		</div>
		<button id="burger" aria-label="Menu">
			<span class="ic-menu"></span>
			<span class="ic-close"></span>
		</button>
		<nav>
			<ul class=menu>
				<% for (var i in theme.menu){ %>
					<% if(typeof(theme.menu[i]) === 'object'){ %>
						<li class=sub><a class="ic-arrowb"><%= i %></a>
							<ul>
							<% for (var o in theme.menu[i]){ %>
								<li><a href="<%- url_for(theme.menu[i][o]) %>"><%= o %></a>
							<% } %>
							</ul>
						</li>
					<% } else { %>
						<li><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
					<% } %>
				<% } %>
			</ul>
			<%- partial('_widget/social_media') %>
		</nav>
	</div>
</header>
