<ul class=social>
  <li><a class='share' href="#">
    <svg viewBox="0 0 453.54 453.54"><use xlink:href="#share"></use></svg>
  </a></li>
  <li><a class='facebook' href="https://facebook.com/sharer.php?u=<%- link %>&quote=<%- title %>">
    <svg viewBox="0 0 453.54 453.54"><use xlink:href="#facebook"></use></svg>
  </a></li>
  <li><a class='twitter' href="https://twitter.com/share?url=<%- link %>&text=<%- title %>&via=<%- theme.twitter_user %>">
    <svg viewBox="0 0 453.54 453.54"><use xlink:href="#twitter"></use></svg>
  </a></li>
  <li><a class='whatsapp' href="https://wa.me/?text=<%- title %>: <%- link %>">
    <svg viewBox="0 0 453.54 453.54"><use xlink:href="#whatsapp"></use></svg>
  </a></li>
  <li><a class='mailto' href="mailto:?subject=<%- title %>&body=<%- link %>">
    <svg viewBox="0 0 453.54 453.54"><use xlink:href="#mail"></use></svg>
  </a></li>
</ul>
