<ul class=social>
  <li><a class='ic-share' href="#"></a></li>
  <li><a class='ic-whatsapp' href="https://wa.me/?text=<%- title %>: <%- link %>"></a></li>
  <li><a class='ic-twitter' href="https://twitter.com/intent/tweet?url=<%- link %>&text=<%- title %>&via=<%- theme.twitter_user %>"></a></li>
  <li><a class='ic-facebook' href="https://facebook.com/sharer.php?u=<%- link %>&quote=<%- title %>"></a></li>
  <li><a class='ic-mail' href="mailto:?subject=<%- title %>&body=<%- link %>"></a></li>
</ul>