<div class="hslider slider">
  <div class="slides">
    <% site.tags.findOne({name: 'Amazing Bamyan'}).posts.sort('date', -1).limit(4).each(function(post, i){ %>
    <div class=slide>
      <div class=img><img loading="lazy" src="<%- url_for( post.featured_image ) %>" alt="<%- post.title %>" /></div>
      <div class=imgs></div>
      <div class=container>
        <div class=title>
          <h3><a href='<%- url_for(post.path) %>'><%- post.title %></a></h3>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
  <button class=prev><%= __('prev') %></button>
  <button class=next><%= __('next') %></button>
</div>
